*{
    margin:0;
    padding:0;
    
}
body{
    font-family: 'Raleway', sans-serif;
    background-color: #f6f5f5;
}

.grid{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "navbar"
    "header"
    "body"
    "projects"
    "footer";
    height: 100%;
}
/*For Navigation Bar*/
.navbar{
    grid-area:navbar;
    background-color: #f6f5f5;
    width: 100%;
    height: 100px;
    
    
}
nav{
    float:right;
    list-style-type: none;
    padding: 2em;
    font-weight: bolder;
    
      
}
.page{
    display: inline;
    padding: 1.5em;
    font-size: 20px;
    
}
#titlename{
    float: left;
    padding-top: 0.75em;
    padding-left: 1em;
    color: #1687a7;
    
    
    
}

a{
    text-decoration: none;
    color: #1687a7;
}
a:hover{
    color: #19456b;
}
/*For Header*/
.header{
    grid-area:header;
    background-color: #d3e0ea;
    width: 100%;
    height: 500px;
    
    
}
#announce{
    text-align: center;
    margin: 0 auto;
    width: 50%;
    padding-top:1.25em;
    font-size: 125px;
}
#announce{

  animation-name: textanimation;
  animation-duration:5s ;
  animation-iteration-count: infinite;
}
@keyframes textanimation{
    from{color:white}
    to{color:#28527a}
    to{color:#025955}
    to{color:#276678}
    to{color:#1687a7}
    to{color:#1687a7}  
}
/* For body */
.body{
    grid-area:body;
    background-color: #1687a7;
    width: 100%;
    height: 500px;
}
#description{
    text-align: center;
    font-size: 30px;
    padding-top: 4em;
    color: white;
}
/*For Projects */
.projects{
    grid-area: projects;
    background-color: #d3e0ea;
    width: 100%;
    height: 200px;
}
/*Projects Button */
#projectsbtn{
    text-align: center;
    font-size: 30px;
    padding-top: 2.5em;
  
}
.btnborder{
    border: solid white 2px;
    padding:40px;
    padding-top:5px;
    padding-bottom: 5px;
    color: white;
}
.btnborder:hover{
    color: white;
    background-color:#1687a7;
}
/* For Footer */
.footer{
    grid-area:footer;
    background-color: #f6f5f5;
    width: 100%;
    height: 80px;
}
#footertext{
    text-align: center;
    padding-top: 1em;
    color:#1687a7;

}